# 모델 훈련과 세부튜닝

## 데이터 불러오기 및 데이터셋 분할

In [2]:
import pandas as pd

data = pd.read_csv('../data/Fvote.csv')
data.head()

,edu,income,age,score_gov,score_progress,score_intention,vote,parties,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam
0,3,3,3,2,2,4.0,1,2,0,1,0,0,0,0,1
1,2,3,3,2,4,3.0,0,3,0,1,0,0,1,0,0
2,1,2,4,1,3,2.8,1,4,0,1,0,1,0,0,0
3,2,1,3,5,4,2.6,1,1,1,0,0,0,0,1,0
4,1,2,4,4,3,2.4,1,1,0,1,0,0,0,1,0

In [7]:
X = data.loc[:, ~data.columns.isin(['vote', 'parties'])]  # df.columns.isin([])하면 해당 컬럼만 가져오고 ~해서 부정함 
X

,edu,income,age,score_gov,score_progress,score_intention,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam
0,3,3,3,2,2,4.0,0,1,0,0,0,0,1
1,2,3,3,2,4,3.0,0,1,0,0,1,0,0
2,1,2,4,1,3,2.8,0,1,0,1,0,0,0
3,2,1,3,5,4,2.6,1,0,0,0,0,1,0
4,1,2,4,4,3,2.4,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,1,4,4,3,3,1.8,0,1,0,0,0,0,1
207,2,1,2,3,4,2.6,0,1,0,0,0,1,0
208,2,1,2,3,3,2.6,0,1,1,0,0,0,0
209,2,3,4,3,2,4.0,0,1,0,0,0,1,0
210,2,2,2,3,3,3.8,1,0,0,0,0,1,0

In [8]:
y = data[['vote']]
y

     vote
0       1
1       0
2       1
3       1
4       1
..    ...
206     1
207     1
208     1
209     1
210     1

[211 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

## Grid Search

In [11]:
from sklearn.model_selection import GridSearchCV

In [14]:
param_grid = {'C': [0.001, 0.01, 0.1, 1, 10, 100]}

In [12]:
from sklearn.linear_model import LogisticRegression

In [17]:
model = LogisticRegression()
grid_search = GridSearchCV(model, param_grid)
grid_search.fit(X_train, y_train.values.ravel())

/usr/local/Caskroom/miniforge/base/envs/condaTest/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

GridSearchCV(estimator=LogisticRegression(),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100]})

In [18]:
grid_search.best_params_

{'C': 10}

In [19]:
grid_search.best_score_

0.7274193548387096

In [20]:
grid_search.score(X_test, y_test)

0.6792452830188679

## Random Search
- 시험에서는 그리드 쓰자